// Container
.container{
    margin: 0 auto;
    max-width: 1140px;
}
body{
    background-size: cover;
    background-image: url(https://lh6.googleusercontent.com/proxy/6bfMtMexkPxX3RDVxP7-qZ4z4NB750GFH7XmUK-m0vjjK46kYkC2EJzfx4NHxv1qSnusPRkHwSL6sJtJrnrZYv0eY4VeTQPRyYYtyVRJjKWwyuvmSwHBTQsedTqYek8ahqo0xry6d-avyZBQvA=s0-d);
}