
// COLOR PALETTE

$clr1: #00A8E8;
$clr2: rgb(223, 223, 223);
$clr3: #646483;
$clr4: #00171F;
$clr5: #fff;
$clr6: #F13A59;


// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1280px;


